<?xml version="1.0" encoding="UTF-8"?>
<config>

    <params>
        <param name="YSDK_REAL_NAME" bWriteInClient="1" bWriteInManifest="0" desc="是否使用ysdk的实名(true|false)" required="1" showName="开启实名" value="true" />
        <param name="M_PAY_TYPE" bWriteInClient="1" bWriteInManifest="0" desc="1:游戏币托管；2：道具直购" required="1" showName="支付类型" />
        <param name="M_GUEST_LOGIN" bWriteInClient="1" bWriteInManifest="0" desc="true|false" required="1" showName="是否支持游客登录" />
        <param name="M_CUSTOM_LOGIN" bWriteInClient="1" bWriteInManifest="0" desc="true|false" required="1" showName="是否使用自定义布局" />
        <param name="M_USE_LOGIN" bWriteInClient="1" bWriteInManifest="0" desc="true|false" required="1" showName="是否使用登录" />
        <param name="QQ_APP_ID" bWriteInClient="0" bWriteInManifest="0" desc="应用宝" required="1" showName="QQAppID" />
        <param name="WX_APP_ID" bWriteInClient="0" bWriteInManifest="0" desc="应用宝" required="1" showName="微信AppID" />
        <param name="M_APP_KEY" bWriteInClient="1" bWriteInManifest="0" desc="应用宝" required="1" showName="米大师AppKey" />
        <param name="OFFER_ID" bWriteInClient="0" bWriteInManifest="0" desc="应用宝" required="1" showName="OfferID" />
        <param name="YSDK_URL" bWriteInClient="0" bWriteInManifest="0" desc="应用宝" required="1" showName="联调环境地址" />
        <param name="XG_V2_ACCESS_ID" bWriteInClient="0" bWriteInManifest="1" desc="应用宝" required="1" showName="信鸽AccessID" />
        <param name="XG_V2_ACCESS_KEY" bWriteInClient="0" bWriteInManifest="1" desc="应用宝" required="1" showName="信鸽AccessKey" />
        <param name="WG_FIXEDPAY" bWriteInClient="1" bWriteInManifest="0" desc="true|false" required="1" showName="是否定额支付" />
        <param name="WG_RATIO" bWriteInClient="1" bWriteInManifest="0" desc="后台配置的比例，如果是1:10，那么填10" required="1" showName="充值比例" />
        <param name="WG_COIN_ICON_NAME" bWriteInClient="1" bWriteInManifest="0" desc="drawable资源目录下的文件名称，不带后缀" required="1" showName="支付界面游戏币Icon名称" />
        <param name="WG_MULTI_SERVERS" bWriteInClient="1" bWriteInManifest="0" desc="true|false" required="1" showName="是否开启了分区" />
        <param name="WG_QUERY_URL" bWriteInClient="1" bWriteInManifest="0" desc="u8server上处理应用宝查询订单的地址" required="0" showName="查询订单地址" value="/pay/ysdk/query" />
        <param name="WG_PAY_URL" bWriteInClient="1" bWriteInManifest="0" desc="u8server上处理应用宝充值的地址" required="0" showName="充值通知的服务器地址" value="/pay/ysdk/charge" />
    </params>

    <operations>
        <operation from="SDKManifest.xml" step="1" to="AndroidManifest.xml" type="mergeManifest" />
        <operation from="assets" step="2" to="assets" type="copyRes" />
        <operation from="libs" step="3" to="lib" type="copyRes" />
        <operation from="res" step="4" to="res" type="copyRes" />
        <operation from="root" step="5" to="" type="copyRes" />
    </operations>

    <plugins>
        <plugin name="com.u8.sdk.YSDKUser" desc="用户登录接口" type="1" />
        <plugin name="com.u8.sdk.YSDKPay" desc="用户支付接口" type="2" />
        <plugin name="com.u8.sdk.YSDKShare" desc="用户分享接口" type="4" />
    </plugins>

    <dependencies>
        <dependency name="androidx.legacy:legacy-support-v4:1.0.0" />
    </dependencies>

    <version>
        <name>应用宝YSDK</name>
        <versionCode>1</versionCode>
        <versionName>1.6.8</versionName>
    </version>

</config>